
<section class="sec_eform">
    <div class="g_cont">
        <div class="eform_cont">
            <div class="company_info">
                <div class="c_head">
                    <h2>Let's get in touch</h2>
                    <h5>We're open for any Enquires on courses mentioned on website<h5>
                </div>
                <div class="c_item">
                    <div class="c_icon">
                      <i class="fas fa-2x fa-location-arrow"></i>
                    </div>  
                    <div class="c_content">Address: 1213, Gold Crest Center,Lokmanya Tilak Rd,Borivali West,<br>Mumbai-400092</div>
                </div>
                <div class="c_item">
                    <div class="c_icon"><i class="fas fa-2x fa-phone-alt"></i></div>
                    <div class="c_content">Phone: +91 7900114046</div>
                </div>
                <div class="c_item">
                    <div class="c_icon"><i class="fas fa-2x fa-envelope"></i></div>
                    <div class="c_content">Email: essential2509gmail.com</div>
                </div>
                <div class="c_item">
                    <div class="c_icon"><i class="fas fa-2x fa-globe"></i></div>
                    <div class="c_content">Website: example25@gmail.com</div>
                </div>
            </div>
                <div class="eform">
                        <h2>Enquiry Form</h2>
                        {{!-- first row --}}
                        <div class="form_row ">
                            <div class="form_item one">
                                    <label for="fullname">Full Name</label><br>
                                    <input type="text" class="form_box" placeholder="Name" id="fullname">
                                     <i class="fas fa-check-circle"></i>
                                     <i class="fas fa-exclamation-circle"></i>
                                    <small>Error</small>
                            </div>
                            <div class="form_item two">
                                    <label for="email">Email</label><br>
                                    <input type="email" class="form_box" placeholder="Email" id="email">
                                    <i class="fas fa-check-circle"></i>
                                     <i class="fas fa-exclamation-circle"></i>
                                    <small>Error</small>
                            </div>
                        </div>
                        {{!-- second-row --}}
                        <div class="form_row">
                            <div class="form_item one">
                                    <label for="age">Age</label><br>
                                    <input type="number" class="form_box" placeholder="Age" id="age">
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                    <small>Error</small>
                            </div>
                            <div class="form_item two">
                                    <label for="contact">Contact No</label><br>
                                    <input type="tel" class="form_box" placeholder="1234567899" id="contact">
                                     <i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>   
                                    <small>Error</small>
                            </div>
                        </div>
                        {{!-- third-row --}}
                        <div class="form_row">
                            <div class="form_item">
                                    <label for="address">Address</label><br>
                                    <input type="text" class="form_box" placeholder="Address" id="address">
                                     <i class="fas fa-check-circle"></i>
                                     <i class="fas fa-exclamation-circle"></i>
                                    <small>Error</small>
                            </div>
                        </div>
                        {{!-- fourth-row --}}
                        <div class="form_row ">
                            <div class="form_item" >
                                    <label for="Courses">Course Interested</label><br>
                                    <input type="text" class="form_box" placeholder="eg: Web Development,React" id="course">
                                     <i class="fas fa-check-circle"></i>
                                     <i class="fas fa-exclamation-circle"></i>
                                    <small>Error</small>
                            </div>
                        </div>
                        {{!-- fifth-row--}}
                        <div class="form_row submit">
                            <button type="submit"  class="btn" id="submit" onclick="getValue();" value="submit">Submit</button>
                        </div>
              </div>
        </div>
    </div>
</section>