<section class="sec_eform">
    <div class="g_cont">
        <div class="eform_cont">
            <div class="company_info">
                <div class="d_image">
                    <img  src="/images/Hidden-cuate.png"  alt="">
                </div>
            </div>
            <div class="eform">
                <div class="exist">
                    <h2>User Already exists</h2> 
                </div>
            </div>
        </div>
    </div>
</section>